<div class="container">
  <div class="card">
    <div class="card-header">parent component</div>
    <div class="card-body">
      <!-- pass data: <input type="text" class=" from-control" [(ngModel)]="parentData" /> -->
      <!-- pass data: <input type="text" class=" from-control" [(ngModel)]="enterName" /> -->
      <!-- <input type="button" value="send" (click)="transferData()" class="btn btn-primary"> -->
      {{value}}
      <!-- <app-child [parentData] = "parentData" </app-child> -->
      <app-child (sendData)="sendData($event)"></app-child>

    </div>
  </div>
</div>


<div appClidirective [display]="{container: true , 'change-color': false}">
  <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque esse </P>
</div>


<br><br><br>

<p>
  The condition is currently
  <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
  <button
    type="button"
    (click)="condition = !condition"
    [ngClass] = "{ 'a': condition, 'b': !condition }" >
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>


<br><br><br>

<app-content>
  <h4 class="title">my name</h4>
  <button class="btn btn.primary">know more</button>
</app-content>
<app-content>
  <h4 class="title">my surname</h4>
  <button class="btn btn.primary">know more</button>
</app-content>
<app-content>
  <h4 class= "title"> my village</h4>
  <button class="btn btn.primary">know more</button>
</app-content>


<br><br><br>

<div  appClass [display] = "{container: false, 'change-color':true}">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta saepe dolore iusto.</p>
</div> 

<br><br><br>

<div class="container" [appStyle]="{backgroundColor: active? 'red':'pink' , color: 'green'}">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis sint autem.</p>
</div>


<br><br><br>

<div *appForIf="display">
  <h3>hello hi !</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>


<br><br><br>

<div>
  DOB: <input type="date" #dobhtml (blur)="countAge()">
  age: <input type="text" #agehtml>
</div>
<app-child></app-child>
{{ childcomp.sayHello() }}

<br><br><br>

<app-child>
  <p #para  >this is a paragrpah</p>
</app-child>

<br><br><br>

<div appRender>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, natus quasi. Doloremque?</p>
</div>

<br><br><br>

<div appHostLi >
  <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, natus quasi. Doloremque?</p>
</div>

<br><br><br>


